<ion-view>
	<ion-content class="screen-cliente">
		<ion-refresher 
		pulling-text="Puxe para atualizar..." 
		refreshing-text="Atualizando..." 
		refreshing-icon="ion-refreshing"
		on-refresh="doRefresh()">
    	</ion-refresher>
		<ion-list>
			<ion-item ng-repeat="item in veiculos" class="card" ng-click="showAction(item.id_vei, item.uMod, item.uVei, item.id_vei, item.uLat, item.uLng )">
				<figure class="item item-divider">
					<img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{ item.uLat }},{{ item.uLng }}&zoom=16&size=500x170&markers=color:red%7Clabel:%7C{{ item.uLat }},{{ item.uLng }}&sensor=false">
				</figure>
				<div class="item item-text-wrap {{ item.uGuede }}">
					<h2>{{ item.uVei }}</h2>
					<p>{{ item.uPonto }}</p>
					<p>{{ item.uDate }}</p>
					<p>{{ item.uVel }} km/h</p>
					<div class="opt">
						<img ng-src="{{ item.uBloq }}">
						<img ng-src="{{ item.uPan }}">
						<img ng-src="{{ item.uIgn }}">
					</div>
				</div>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>
