<style type="text/css">
  .header-foco {
    display: flex;
  }
</style>
<ion-view>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="item in clientes | filter:filterCliente " href="#/app/cliente/{{item.id}}">
				{{item.nome}}
			</ion-item>
		</ion-list>
	</ion-content>

	<button class="btn-search icon ion-search" ng-class="{'open-search': showFooter}" ng-click="toggleFooter()"></button>
	<ion-footer-bar class="header-foco" ng-class="{'open-search': showFooter}">
		<label class="item item-input search">
	    	<input type="search" placeholder="Busca rápida" ng-model="filterCliente">
	  	</label>
	</ion-footer-bar>
</ion-view>