<style type="text/css">
  .header-foco {
    display: none;
  }
</style>
<ion-view hide-nav-bar="false" class="screen-login">
  <ion-content class="padding" scroll="false">

    <img class="logo-login" src="img/logo.svg">

    <div class="col group-button">
      <form ng-submit="logar()">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Usuário" name="login" ng-model="dataLogin.login">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Senha" name="senha" ng-model="dataLogin.senha">
          </label>
        </div>
        <button class="button button-block button-assertive" type="submit" ngClick="Submit" ng-disabled="dataLogin.$invalid">ENTRAR</button>
      </form>
    </div>

  </ion-content>
</ion-view>