<ion-view>
	<ion-content class="screen-mapa" scroll="false">
		<map latitude="{{ latitude }}" longitude="{{ longitude }}"></map>
		<div class="info item item-text-wrap">
			<h2>{{ veiculo.uVei }}</h2>
			<p>{{ veiculo.uPonto }}</p>
			<p>{{ veiculo.uDate }}</p>
			<p>{{ veiculo.uVel }} km/h</p>
			<div class="opt">
				<img ng-src="{{ veiculo.uBloq }}">
				<img ng-src="{{ veiculo.uPan }}">
				<img ng-src="{{ veiculo.uIgn }}">
			</div>
			<button class="btn-refresh icon ion-refresh" ng-click="doRefresh()"></button>
		</div>
	</ion-content>
</ion-view>