<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="header-foco">
      <ion-nav-back-button class="button button-clear icon ion-android-arrow-back"></ion-nav-back-button>
      <!--ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons-->
      <ion-nav-title class="logo">
          <img class="logo" src="img/logo.svg">
      </ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-exit" ng-click="sair()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <!--ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close>
          Ajuda
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          Sair
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu-->
</ion-side-menus>
