/* Empty. Add your own CSS if you like */


.header-foco,
.screen-login {
	background-color: #0088cf;
}
	.header-foco .button {
		color: #FFFFFF;
	}

.logo {
	height: 30px;
	margin-top: 6px;
}
.logo-login {
	display: block;
	width: 210px;
	margin: 10px auto;
}


button.btn-search {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 45px;
	height: 45px;
	border-radius: 50px;
	background-color: #0088cf;
	color: #FFFFFF;
	border: none;
	font-size: 23px;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
	z-index: 99;
}
button.btn-search.open-search {
	font-size: 18px;
	bottom: 20px;
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);

}
button.btn-search.open-search:before {
	content: "\f12a";
}

.search {
	width: 100%;
}

.bar-footer {
	bottom: -44px;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
}
.bar-footer.open-search {
	bottom: 0;
}
.has-footer {
	bottom: 0;
}


/* Cliente
/* =============================== */
.screen-cliente .card,
.screen-cliente .item-complex .item-content {
	padding: 0;
}
.screen-cliente figure {
	padding: 0;
	border: none;
}
	.screen-cliente figure img {
		width: 100%
	}
.screen-cliente .item-text-wrap{
	padding: 7px 10px 10px;
	border: none;
}
.screen-cliente .opt {
	position: absolute;
	bottom: 7px;
	right: 10px;
}
	.screen-cliente .opt img {
		display: inline-block;
		width: 16px;
	}


/* Mapa
/* =============================== */
.screen-mapa .scroll {
	height: 100%;
}
.screen-mapa map {
	display: block;
	width: 100vw;
	height: 75vh;
}
.screen-mapa .info {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	min-height: 10vh;
	padding: 12px 10px 20px;
	background-color: #FFFFFF;
}

button.btn-refresh {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 45px;
	height: 45px;
	border-radius: 50px;
	background-color: #0088cf;
	color: #FFFFFF;
	border: none;
	font-size: 23px;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
	z-index: 99;
}
button.btn-refresh:active {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.screen-mapa .opt {
	position: absolute;
	top: -15px;
	right: 10px;
	display: block;
	background-color: #FFFFFF;
	padding: 7px 7px 0;
}
	.screen-mapa .opt img {
		display: inline-block;
		width: 17px;
	}


.guede-on {
	border-top: 1px solid red !important;
}